NEXT_PUBLIC_NODE_ENV=
NEXT_PUBLIC_AUTH_API_URL=
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_API_MEDIA_URL=
NEXT_PUBLIC_APP_USERNAME=
NEXT_PUBLIC_APP_PASSWORD=
NEXT_PUBLIC_URL=
NEXT_PUBLIC_TINYMCE_URL=
NEXT_PUBLIC_API_SOCKET_URL=
NEXT_PUBLIC_GRANT_TYPE=
NEXT_PUBLIC_APP_NAME=
NEXT_PUBLIC_GRANT_TYPE_REFRESH_TOKEN=
NEXT_PUBLIC_MEDIA_HOST=
NEXT_PUBLIC_CLIENT_TYPE=