.tox .tox-edit-area::before {
  border-color: transparent !important;
}

.tox-tinymce {
  border: 1px solid #eee !important;
  transition:
    box-shadow 0.1s linear,
    border-color 0.1s linear;
  cursor: text !important;
}

.tox-tinymce.tox-edit-focus {
  border: 1px solid transparent !important;
  box-shadow:
    0 0 0 0px #fff,
    0 0 0 calc(2px + 0px) var(--color-main-color),
    0 0 #0000;
}

label[data-error='true'] ~ .tox-tinymce {
  border: 1px solid var(--color-red-500) !important;
}

label[data-error='true'] ~ .tox-tinymce.tox-edit-focus {
  border: 1px solid transparent !important;

  box-shadow:
    0 0 0 0px #fff,
    0 0 0 calc(2px + 0px) var(--color-red-500),
    0 0 #0000;
}

.tox-tbtn {
  cursor: pointer !important;
}
