.highlight-animated {
  background: linear-gradient(
    to right,
    var(--color-yellow-600),
    var(--color-orange-500),
    var(--color-red-500),
    var(--color-blue-500)
  );
  background-size: 300% 100%;
  animation: gradientMove 1s linear infinite alternate;

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
