@keyframes likePop {
  0% {
    transform: scale(1);
  }
  33.333333333333% {
    transform: scale(1.35) rotate(60deg);
  }
  66.666666666666% {
    transform: scale(1.35) rotate(-30deg);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes disLikePop {
  0% {
    transform: scale(1);
  }
  33.333333333333% {
    transform: scale(1.35) rotate(30deg);
  }
  66.666666666666% {
    transform: scale(1.35) rotate(-60deg);
  }
  100% {
    transform: scale(1);
  }
}

.like-pop {
  animation: likePop 0.5s linear;
}

.dislike-pop {
  animation: disLikePop 0.5s linear;
}
